In [4]:
import pandas as pd
import os

pd.__version__
os.getcwd()

'/home/hee3be/Dev/data-science'

In [2]:
df = pd.read_csv('names/yob2021.txt', names=['Name', 'Sex', 'Number'])

In [5]:
df.head()

        Name Sex  Number
0     Olivia   F   17728
1       Emma   F   15433
2  Charlotte   F   13285
3     Amelia   F   12952
4        Ava   F   12759

In [ ]:
# put name column in index for easier search later
# df.setIndex('Name', inplace = true)
# df.groupby('Gender').sum() / total *100

In [6]:
df[0:10]

        Name Sex  Number
0     Olivia   F   17728
1       Emma   F   15433
2  Charlotte   F   13285
3     Amelia   F   12952
4        Ava   F   12759
5     Sophia   F   12496
6   Isabella   F   11201
7        Mia   F   11096
8     Evelyn   F    9434
9     Harper   F    8388

In [8]:
print('Columns: ')
len(df.columns)

Columns:

3

In [9]:
print('Rows: ')
len(df.index)

Rows:

31537

In [21]:
print('total number of babies born in 2021:')
df['Number'].sum()
df.loc[[3:7]]

SyntaxError: invalid syntax (1715599284.py, line 3)

In [25]:
print('total number of boys born in 2021:')

boys = df.loc[df['Sex'] == 'M']
# len(boys.index)
boys['Number'].sum()

total number of boys born in 2021:

1734277

In [24]:
print('total number of girls born in 2021:')
girls = df.loc[df['Sex'] == 'F']
#len(girls.index)
girls['Number'].sum()

total number of girls born in 2021:

1627098

In [29]:
df.loc[df['Name'] == 'Emely']

      Name Sex  Number
525  Emely   F     583

In [31]:
print('Percentage boys:')
100/3361375*1734277

Percentage boys:

51.594273176899335

In [32]:
print('Percentage girls:')
100/3361375*1627098

Percentage girls:

48.405726823100665

In [48]:
print('Top 5 girl names:')
boys_sorted = boys.sort_values(by=['Number'], ascending=False)
print(boys_sorted[0:5].Name.to_string(index=False))

Top 5 girl names:
  Liam
  Noah
Oliver
Elijah
 James

In [47]:
print('Top 5 boy names:')
girls_sorted = girls.sort_values(by=['Number'], ascending=False)
print(girls_sorted[0:5].Name.to_string(index=False))

Top 5 boy names:
   Olivia
     Emma
Charlotte
   Amelia
      Ava

In [59]:
frames = [girls_sorted[0:5], boys_sorted[0:5]]
result = pd.concat(frames)
result.to_excel('output.xlsx',  engine='xlsxwriter')

NameError: name 'result' is not defined